

.header__search {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 2rem;
    height: 2rem;
}

.header__search__input {
    display: none;
    border-radius: 1rem;
    border: none;
    background-color: #f5f5f5;
    width: 100%;
    padding: 0 1rem;
    font-weight: 400;
    font-size: var(--subtitle-size);
    color: var(--txt-color);
}

.header__search__button {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
    background: transparent url("../../images/search.svg") no-repeat center / 1.25rem;
    border: none;
    outline: none;
    transition: transform .3s ease;
}

.header__search__button:hover {
    background-size: cover;
    cursor: pointer;
}

.header__search-result {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    width: 100%;
    height: 300px;
    border-radius: 0 0 8px 8px;
    background: #f0ecec;
    display: flex; 
    justify-content: left;
    align-items: center;
    padding: .5rem 2rem;
    box-shadow: #00000020 0 1rem 1rem .25rem;
    transition: visibility 1s, opacity .5s linear;
    opacity: 0;
    column-gap: 1rem;
    overflow-x: scroll;
}

.header__search-result--active {
    visibility: visible;
    z-index: 10;
    opacity: 1;
}

.header__search-result__error {
    font-weight: 600;
    font-size: var(--title-size);
    color: rgb(231, 71, 71);
    margin: 0 auto;
}

.header__search-result.header__search-result--active .card {
    display: inline-block;
    min-width: 200px;
    width: 200px;
    height: 95%;   
}

@media screen and (max-width: 767px) {

    .header__search.header__search--active {
        width: 100%;
        height: 150px;
        border-radius: 0 0 8px 8px;
        background: #f0ecec;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        transition: all .4s ease-in-out;
        align-items: center;
        justify-content: center;
    }

    .header__search.header__search--active .header__search__input {
        display: block;
        height: 2.5rem;
        width: 90%;
    }

    .header__search.header__search--active .header__search__button {
        right: 2rem;
    }
    
}


/* tablets */
@media screen and (min-width: 768px) {
    .login-btn {
        order: 2;
    }

    .header__search {
        width: 272px;
    }

    .header__search__input {
        display: inline-block;
    }

    .header__search__mobile-search {
        display: none;
    }
}

/* computers */
@media screen and (min-width: 1024px) {
    .header__search {
        width: 400px;
    }

    .header__search__mobile-search {
        display: none;
    }
}

