.logo {
    display: flex;
    align-items: center;
}

.logo__title {
    font-weight: 700;
    font-size: var(--title-size);
    color: var(--txt-color);
}

.logo__title--blue {
    color: var(--main-color);
}

/* computers */
@media screen and (min-width: 1024px) {
    .logo__img {
        height: 2rem;
    }

    .logo__title {
        font-size: 2rem;
    }
}
