.banner {
    background: url(../images/banner-image.png) no-repeat center / cover;
    width: 100vw;
    height: 40vh;
    max-height: 352px;
    position: relative;
}


/* computers */
@media screen and (min-width: 1024px) {
    .banner {
        height: 352px;
    }
}