.btn {
    border: var(--main-color) solid 2px;
    color: var(--main-color);
    background-color: var(--bg-color);
    font-weight: 600;
    width: 130px;
    padding: 0.75rem 1rem;
    transition: transform .35s ease-out, background .5s ease-in-out;
    text-align: center;
}

.btn:disabled {
    opacity: .5;
}

.btn:not(:disabled):hover {
    transform: scale(1.05);
    cursor: pointer;
}

.btn--blue {
    background-color: var(--main-color);
    color: var(--bg-color);
}