.header {
    display: flex;
    align-items: center;
    padding-top: 1.375rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}

.login-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

@media screen and (min-width: 1024px) {
    .header {padding-bottom: 1.375rem;}
}