.header {
    padding-bottom: 1rem;
}

.login-sect {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: #f5f5f5;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.login__title {
    font-weight: 700;
    font-size: 1rem;
    color: var(--txt-color);
}

.login__input {
    height: 56px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .login__input {width: 60%;}
}

@media screen and (min-width: 1024px) {
    .login__input, .btn--login {
        width: 55%;
        height: 65px;
    }
}