.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0;
    background: linear-gradient(23deg, #00000030, #00000060);
}

.modal--active {
    z-index: 999;
    opacity: 1;
}

.modal__container {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    width: 50%;
    height: fit-content;
    background: var(--bg-color);
    border: 2px solid #2A7AE430;
    border-radius: 8px;
    box-shadow: #00000030 0 0 1.5rem 1rem;
}

.modal__header {
    height: fit-content;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal__header__title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--txt-color);
}

.modal__header__close-btn {
    background: #ff000080;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.modal__header__close-btn:hover {
    cursor: pointer;
}

.modal__body {
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

.adm-panel__body {
    padding: 2rem;
}

.edit-panel__form {
    width: 80%;
    height: fit-content;
    text-align: center;
}

.edit-panel__inp, .edit-modal__textarea  {
    box-shadow: #00000030 0 0 .5rem .15rem;
    margin: .5rem 0;
}

.edit-panel__save-btn {
    margin: .5rem 0;
}

.edit-panel__save-btn:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}


@media screen and (max-width: 768px) {
    .modal__container {
        width: 90%;
    }
}