.produtos-sect__header {
    line-height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btn--adc-produto {
    width: 152px;
    height: 42px;
    padding: 0;
    font-size: var(--subtitle-size);
    box-sizing: content-box;
}

/* modal do painel de administrador */

.adm-panel__close-session-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.adm-panel__delete-all-btn {
    background: rgb(231, 71, 71);
    color: #fdfdfd;
    border: none;
    padding: 1.15rem 0;
}

.adm-panel__delete-all-btn:hover {
    background: rgb(212, 162, 162);
}


@media screen and (max-width: 768px) {
    .produtos-sect__header {
        flex-direction: column;
    }
}
