
.product-info__body, .product-info__header {
    color: var(--txt-color);
    font-size: 1rem;
}

.product-info-modal__container {
    height: fit-content;
}

.product-info__body {
    padding: 1rem;
    height: 100%;
    max-height: 400px;    
}

.product-info__title {
    font-weight: 600;
    font-size: 1.15rem;
}

.product-info__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.product-info__image {
    border-radius: 8px;
    height: 150px;
}

.product-info__description {
    overflow-wrap: break-word;
    max-width: 300px;
}

@media screen and (min-width: 1024px) {
    .product-info-modal__container {
        width: 65%;
    }

    .product-info__body {
        gap: 4rem;
    }

    .product-info__content {
        flex-direction: row;
        column-gap: 4rem;
    }

    .product-info__image {
        height: 250px;
    }
}